<%- include ("./_partial/_header.ejs"); %>
<h2 style="text-align: center;">You have reached limit requests.</h2>
<h2 style="text-align: center;">Please come back again!</h2>
<p style="text-align: center;">Go to: <a href="/health/" style="color: green;">home</a></p>
<div align="center"><img src="/styles/images/health.png"></div>
<%- include ("./_partial/_footer.ejs"); %>