    </div>
    <!-- Footer -->
    <footer class="page-footer font-small unique-color-dark pt-4">
      <div class="text-white bg-dark text-center">
        <div class="card-header">Public Health Info</div>
        <div class="card-body">
          <img src="/styles/images/health.png" height="60px" />
          <p class="card-text">All info in one site</p>
          <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="/" style="color:yellowgreen;">Public Health Info</a>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>

    <script src="location.js"></script>
    </body>

    </html>